body {
    font-family: Arial, sans-serif;
    margin: 0;
background-image: url(1764346664821.jpg);
   color: blue;
}

header {
    background: #222;
    color: white;
    padding: 40px;
    text-align: center;
}

nav {
    background: #444;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 40px;
    max-width: 900px;
    margin: auto;
}

.project {
    background: white;
    padding: 20px;
    margin-top: 15px;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #222;
    color: white;
}
